@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    LDS Movie App<br />
    Rexburg, ID 83440<br />
    <abbr title="Phone">P:</abbr>
    208.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jon12082@byui.edu">jon12082@byui.edu</a><br />
</address>
